@font-face {
  font-family: "NotoSansKR-Regular";
  src: url("/assets/fonts/NotoSansKR-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "NotoSansKR-Bold";
  src: url("/assets/fonts/NotoSansKR-Bold.ttf");
  font-weight: normal;
}
