span {
  font-family: "NotoSansKR-Regular";
  font-size: 20px;
}

.container {
  width: inherit;
  height: inherit;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
}

.inner_container {
  width: 85%;
  height: auto;
  margin: 25px 20px;
}

.base_color {
  background: #222227;
}

.topbar_container {
  border-radius: 5px;
  padding: 17px 30px;
  display: flex;
  justify-content: center;
  flex: 1;
  margin-bottom: 20px;
}

.left_topbar {
  flex: 1;
  text-align: start;
}

.right_topbar {
  flex: 1;
  display: flex;
  justify-content: end;
}

.footer {
  padding: 20px 0;
  text-align: center;
}

.content_container {
  border-radius: 5px;
  padding: 17px 30px;
}

.title_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.title {
  padding: 0 20px 5px 0;
  margin-bottom: 40px;
  width: max-content;
}

.align-row {
  display: flex;
  flex-direction: row;
}

.align-column {
  display: flex;
  flex-direction: column;
}

.align-group {
  height: auto;
  align-items: center;
  position: relative;
}

.circle {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 100px;
}

.line {
  width: 2px;
  background: white;
  height: 100%;
}

.content_margin {
  margin-left: 10px;
  align-items: start;
  padding-bottom: 50px;
}
